/* external CSS helps to organize stuff */

.coffee::selection {
    background-color: #4A3F35;
    color: #FCF5EF;
}

.main::selection {
    background-color: #000000;
    color: #ffffff;
}

body {
    background-color: #FCF5EF;
    font-family: 'Poppins';
}

h1 {
    text-align: center;
    font-size: 50px;
    color: #4A3F35;
    text-shadow: 2px 2px 4px rgba(74, 63, 53, 0.3);
    transition: transform 0.4s ease;
}          

h2 {
    font-size: 30px;
    color: #4A3F35;
    text-shadow: 2px 2px 4px rgba(74, 63, 53, 0.3);
}

h3 {
    font-size: 20px;
    color: #4A3F35;
    font-weight: normal;
}

li {
    font-size: 20px;
    color: #4A3F35;
}

p {
    color: #4A3F35;
}

a {
    color: #4A3F35;
   text-decoration:none;
}

b {
    text-shadow: 2px 2px 4px rgba(74, 63, 53, 0.2);
}

.sizeUp {
    font-size: 20px;
}

.cimages {
    text-align: center;
}

.cimages h3{
    color: #000000;
}
