/* external CSS helps to organize stuff */

.coffee::selection {
    background-color: #4A3F35;
    color: #FCF5EF;
}

.main::selection {
    background-color: #000000;
    color: #ffffff;
}

body {
    background-color: #FCF5EF;
    font-family: 'Poppins';
}

h1 {
    text-align: center;
    font-size: 50px;
    color: #4A3F35;
    text-shadow: 2px 2px 4px rgba(74, 63, 53, 0.3);
    transition: transform 0.4s ease;
}          

h2 {
    font-size: 30px;
    color: #4A3F35;
    text-shadow: 2px 2px 4px rgba(74, 63, 53, 0.3);
}

h3 {
    font-size: 20px;
    color: #4A3F35;
    font-weight: normal;
}

li {
    font-size: 20px;
    color: #4A3F35;
}

p {
    color: #4A3F35;
}

a {
    color: #4A3F35;
   text-decoration:none;
}

b {
    text-shadow: 2px 2px 4px rgba(74, 63, 53, 0.2);
}

code {
    background-color: #F7E7DC;
    border-radius: 10%;
    padding: 5px;
    box-shadow: 2px 2px 4px rgba(74, 63, 53, 0.3);
}

kbd {
    background-color: rgb(#F7E7DC);
    border-radius: 5%;
    padding: 5px;
    border: 2px solid #4A3F35;
}

fieldset {
    border-color: #4A3F35;
}

legend {
    font-size: 20px;
    color: #4A3F35;
    font-weight: normal;
}

.sizeUp {
    font-size: 20px;
}

.noCode {
    background-color: #FCF5EF;
    border-radius: 0%;
    padding: 0px;
}

.cimages {
    text-align: center;
}

.cimages h3{
    color: #000000;
}

.mainPageLogo {
    margin-bottom: 0;
    -webkit-filter: drop-shadow(0px 3px 3px #222);
    filter: drop-shadow(0px 3px 3px #222);
    transition: transform 0.4s ease;
}

.mainPageLogo:hover {
    transform: scale(1.05);
}

.pageButtons {
    text-align: center;
    border: 4px solid #4A3F35;
    box-shadow: 2px 2px 4px rgba(74, 63, 53, 0.3);
    margin-left: 4px;
    margin-right: 4px;
    transition: transform 0.4s ease;
} 

.pageButtons:hover {
    box-shadow: 2px 2px 4px rgba(74, 63, 53, 0.6);
    transform: scale(1.05);
}

#artMathAndIllusions.pageButtons {
    text-align: center;
    border: 4px solid #5f6cff;;
    box-shadow: 2px 2px 4px rgba(95, 108, 255, 0.3);
    margin-left: 4px;
    margin-right: 4px;
    transition: transform 0.4s ease;
}

#artMathandIllusions.pageButtons {
    box-shadow: 2px 2px 4px rgba(95, 108, 255, 0.6);
    transform: scale(1.05);
}

.home:hover {
    transform: scale(1.05);
}

#mouse {
    width: 60px;
    position: absolute;
    pointer-events: none;
    transform: translate(-50%, -50%);
}

#cat {
    width: 100px;
     position: absolute;
     transform: translate(-50%, -50%);
     pointer-events: none;
}
    
#mouseChaseButton {
    position: fixed;
    bottom: 80px;
    left: 50%;
    transform: translateX(-50%);
    
    width: 200px;
    height: 50px;
    background-color: #F7E7DC;
    border: none;
    color: #4A3F35;
    font-size: 30px;
    box-shadow: 2px 2px 4px rgba(74, 63, 53, 0.3);
    transition: transform 0.4s ease;
    z-index: 9999;
}

#mouseChaseButton:hover {
    box-shadow: 2px 2px 4px rgba(74, 63, 53, 0.6);
    background-color: #4A3F35;
    color: #FCF5EF;
}

#mouseChaseTimer {
    position: fixed;
    bottom: 20px;  
    left: 50%;
    transform: translateX(-50%);
    z-index: 9999;
}

            
input, button {
    width: 100%;
    height: 50px;
    background-color: #F7E7DC;
    border: none;
    color: #4A3F35;
    font-size: 30px;
    box-shadow: 2px 2px 4px rgba(74, 63, 53, 0.3);
    transition: transform 0.4s ease;
}   

button:hover {
    box-shadow: 2px 2px 4px rgba(74, 63, 53, 0.6);
    background-color: #4A3F35;
    color: #FCF5EF;
}

.seoText {
  position: absolute;
  left: -9999px;
  top: -9999px;
}
